fastapi
uvicorn[standard]
jinja2
sqlalchemy>=2.0
python-multipart
itsdangerous
pillow
python-dotenv
requests>=2.31.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
stripe==10.12.0
cloudinary==1.41.0
alembic==1.17.0
psycopg2-binary==2.9.9
psycopg[binary]==3.2.11
geoip2==4.7.0
fastapi-utils==0.2.1
