{# app/templates/_badges.html #}
{% macro render_badges(u, size='18px') -%}
  {# يدعم dict (session_user) أو كائن ORM (User) #}
  {% set is_dict = u is mapping %}

  {# موثّق #}
  {% if is_dict %}
    {% set is_verified = u.get('is_verified', False) %}
  {% else %}
    {% set is_verified = (u|attr('is_verified')) if (u is not none and (u|attr('is_verified') is not undefined)) else False %}
  {% endif %}

  {# جديد < شهرين أو فلاغ أصفر يدوي #}
  {% if is_dict %}
    {% set is_new_under_2m = u.get('is_new_under_2m', False) %}
    {% set badge_new_yellow = u.get('badge_new_yellow', False) %}
  {% else %}
    {% set is_new_under_2m = (u|attr('is_new_under_2m')) if (u is not none and (u|attr('is_new_under_2m') is not undefined)) else False %}
    {% set badge_new_yellow = (u|attr('badge_new_yellow')) if (u is not none and (u|attr('badge_new_yellow') is not undefined)) else False %}
  {% endif %}
  {% set show_yellow = is_new_under_2m or badge_new_yellow %}

  {# فقط شارتين: أصفر وبنفسجي #}
  {% if show_yellow %}
    <img
      src="/static/img/jaune.png"
      alt="جديد"
      title="حساب جديد"
      style="height:{{ size }};width:auto;vertical-align:middle;margin-inline-end:.25rem;"
    >
  {% endif %}

  {% if is_verified %}
    <img
      src="/static/img/violet.png"
      alt="موثّق"
      title="حساب موثّق من الإدارة"
      style="height:{{ size }};width:auto;vertical-align:middle;margin-inline-end:.25rem;"
    >
  {% endif %}
{%- endmacro %}
